<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>User Data Table</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Age</th>
    <th>City</th>
    <th>Profession</th>
  </tr>

  <% users.forEach(user=>{ %>
   <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.age %></td>
    <td><%= user.city %></td>
    <td><%= user.profession %></td>
  </tr>
<% }) %>
 
  <a href="/form">Add User</a>
  
</table>

</body>
</html>